doctype html
html
	head
		title NodeAuth
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/style.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') NodeAuth
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(title==="Members"?"active":""))
							a(href='/') Members
						li(class=(title==="Registeration"?"active":""))
							a(href='/users/register') Registeration
						li(class=(title==="Login"?"active":""))
							a(href='/users/login') Login
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/users/logout') Logout
		.container
			block content
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js') script.window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
		script(src='/javascripts/bootstrap.js')
