extends layout

block content
	h1 Regiter
	p Please register using below form.
	ul.errors
		if errors
			each error, i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post',action='/users/register',enctype='multipart/form-data')
		.form-group
			label Name
			input.form-control(name='name',type='text',placeholder='Enter Name')
		.form-group
			label Email
			input.form-control(name='email',type='email',placeholder='Enter Email')
		.form-group
			label Username
			input.form-control(name='username',type='text',placeholder='Enter Username')
		.form-group
			label Password
			input.form-control(name='password',type='password',placeholder='Enter Password')
		.form-group
			label Confirm Password
			input.form-control(name='password2',type='password',placeholder='Enter Confirm Password')
		.form-group
			label Profile Image
			input.form-control(name='profileimage',type='file')
		input.btn.btn-default(name='submit',type='submit',value='Register')
